package components

import "github.com/anilsenay/go-htmx-example/model"
import "fmt"

templ Todo(todo model.Todo) {
	<p
		id={ fmt.Sprintf("todo-%d", todo.Id) }
		if todo.Done {
			style="text-decoration: line-through"
		}
	>
		{ todo.Text }
	</p>
}
