package pages

import "github.com/anilsenay/go-htmx-example/view/layout"
import "github.com/anilsenay/go-htmx-example/view/components"
import "github.com/anilsenay/go-htmx-example/model"

type PageProps struct {
	Todos []model.Todo
}

templ Index(props PageProps) {
	@layout.Layout() {
		<div>
			for _, todo := range props.Todos {
				@components.Todo(todo)
			}
		</div>
	}
}
