package pages

import "github.com/anilsenay/go-htmx-example/view/layout"
import "github.com/anilsenay/go-htmx-example/view/components"
import "github.com/anilsenay/go-htmx-example/models"
import "fmt"

type PageProps struct {
	Todos []models.Todo
}

templ Index(props PageProps) {
	@layout.Layout() {
		<div>
			for index, todo := range props.Todos {
				@components.Todo(fmt.Sprintf("todo-%d", index), todo)
			}
		</div>
	}
}
